@import "tailwindcss";

@font-face {
  font-family: "SSBMFont";
  src: url('public/fonts/SSBMFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
textarea {
  width: 300px;
  height: 150px;
}


